@tailwind base;

@font-face {
  font-family: 'Sharp Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/SharpSans.otf') format('otf');
}

@font-face {
  font-family: 'Sharp Sans No1 Bold';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/SharpSansNo1-Bold.ttf') format('ttf');
}
